<template>
    <v-app>
        <v-container>
            <v-layout class="mt-12 pt-12">
                <v-row>
                    <v-spacer></v-spacer>
                    <v-col cols="10" md="8">
                        <v-card v-if="!is_user_logged_in">
                            <v-card-title class="headline" v-if="!settings.login_logo_uri">Login</v-card-title>

                            <v-card-text>
                                <v-row v-if="settings.login_logo_uri">
                                    <v-spacer></v-spacer>
                                    <v-col cols="4">
                                        <v-img :src="settings.login_logo_uri"></v-img>
                                    </v-col>
                                    <v-spacer></v-spacer>
                                </v-row>


                                <v-row  class="pb-0 mb-0">
                                    <v-col cols="12"  class="pb-0 mb-0">
                                        <v-alert
                                                dense
                                                text
                                                type="error"
                                                icon="error"
                                                v-if="ui.show_error"
                                        >
                                            Login failed, you must have done something wrong. Definitely not our fault.
                                            But we forgive
                                            you, just give it another go.
                                        </v-alert>

                                        <v-text-field
                                                outlined
                                                label="Email"
                                                v-model="credentials.email"
                                        ></v-text-field>

                                        <v-text-field
                                                outlined
                                                label="Password"
                                                type="password"
                                                v-model="credentials.password"
                                        ></v-text-field>
                                    </v-col>
                                </v-row>


                                <v-row class="pt-0 mt-0">
                                    <v-col class="pt-0 mt-0">
                                        <v-checkbox v-model="credentials.remember"
                                                    on-icon="check_box"
                                                    off-icon="check_box_outline_blank"
                                                    label="Remember me"></v-checkbox>
                                    </v-col>
                                </v-row>


                                <v-row>
                                    <v-col>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="primary"
                                                   :loading="ui.loading"
                                                   @click="submitLoginCredentials">
                                                Login
                                            </v-btn>
                                        </v-card-actions>
                                    </v-col>
                                </v-row>
                            </v-card-text>
                        </v-card>


                        <v-card v-else>
                            <v-card-text>
                                You are already logged in. You can log out
                                <a href="/logout">here</a>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-spacer></v-spacer>
                </v-row>
            </v-layout>

        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: 'login-page',
        template: 'login-page',
        props: {logged_in: {required: true, type: Boolean}, settings: {required: true, type: Boolean}},
        data() {
            return {
                is_user_logged_in: false,
                credentials: {
                    email: '',
                    password: '',
                    remember: false
                },
                ui: {
                    loading: false,
                    show_error: false,
                }
            }
        },
        methods: {
            submitLoginCredentials() {
                let result = this.attemptLogin(this.credentials.email, this.credentials.password, this.credentials.remember);

                if (!result) this.credentials.password = '';
            },

            attemptLogin(email, password, remember) {
                this.ui.loading = true;
                let data = {
                    email: email,
                    password: password,
                    remember: remember,
                }

                axios.post(this.settings.login_url, data)
                    .then((response) => {
                        if (response.data.success) {
                            this.is_user_logged_in = true;

                            window.location.href = this.settings.dashboard_url
                        } else {
                            this.ui.show_error = true;

                            return false;
                        }
                    })
                    .catch((error) => {
                        console.error(error);
                    })
                    .finally(() => {
                        this.ui.loading = false;
                    })
            }
        },
        created() {
            this.is_user_logged_in = this.logged_in;
        }
    }
</script>